body{
    background: linear-gradient(rgb(132, 86, 218),rgb(201, 83, 191));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body h1{
    font-family: Comic Sans ms;
    text-align: center;
    color: white;
}
form table{
    width: 60%;
    margin: 2px auto;
}
form table caption{
    font-size: 22px;
    color: white;
    padding: 10px;
}
form table th, td{
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 2px solid #3cc9ec;
    padding: 3px;
}
input{
    background-color: lightgrey;
}